## Source Data

### Download Data

In [ ]:
import gdown

!gdown https://drive.google.com/uc?id=1HIwPFk5eMJRoBLfkWOM7Lm_wBAgpXV0h
!gdown https://drive.google.com/uc?id=14Me1pWdIeM4nJCIY1FM8bx8z68HaZfba

Downloading...
From: https://drive.google.com/uc?id=1HIwPFk5eMJRoBLfkWOM7Lm_wBAgpXV0h
To: /content/test_data.json
100% 1.16G/1.16G [00:09<00:00, 124MB/s]
Downloading...
From: https://drive.google.com/uc?id=14Me1pWdIeM4nJCIY1FM8bx8z68HaZfba
To: /content/train_data.json
100% 33.2M/33.2M [00:00<00:00, 102MB/s]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Format Data

In [ ]:
import json
import numpy as np

train_list = json.load(open("/content/train_data.json",))
train_data = np.array(list(map(lambda x: (list(x.values())[:2]), train_list)),dtype=object)
train_labels= np.array(list(map(lambda x: list(x.values())[2], train_list)),dtype=object)

test_list = json.load(open("/content/test_data.json",))
test_data = np.array(list(map(lambda x: list(x.values())[:2], test_list)),dtype=object)
test_labels = np.array(list(map(lambda x: list(x.values())[2], test_list)),dtype=object)

In [ ]:
val_list = json.load(open("/content/val_data.json",))
val_data = np.array(list(map(lambda x: list(x.values())[:2], val_list)),dtype=object)
val_labels = np.array(list(map(lambda x: list(x.values())[2], val_list)),dtype=object)

##Preprocess

### Create DataFrames

In [ ]:
import pandas as pd
train_df = pd.DataFrame()
train_df['labels'] = train_labels.tolist()
train_df['text'] = train_data[:,1]

test_df = pd.DataFrame()
test_df['labels'] = test_labels.tolist()
test_df['text'] = test_data[:,1]

In [ ]:
#run only when you have pre val file
val_df = pd.DataFrame()
val_df['labels'] = val_labels.tolist()
val_df['text'] = val_data[:,1]

In [ ]:
print("Number of train texts ",len(train_df['text']))
print("Number of train labels ",len(train_df['labels']))
print("Number of test texts ",len(test_df['text']))
print("Number of test labels ",len(test_df['labels']))
train_df.head()
#test_df.head()

Number of train texts  23149
Number of train labels  23149
Number of test texts  781265
Number of test labels  781265

                                     labels                                               text
0               [E11, ECAT, M11, M12, MCAT]  Emerging evidence that Mexico's economy was ba...
1                               [C24, CCAT]  Chrysler Corp. Tuesday announced $380 million ...
2  [C151, C15, CCAT, E41, ECAT, GCAT, GJOB]  CompuServe Corp. Tuesday reported a surprising...
3                         [C151, C15, CCAT]  CompuServe Corp. Tuesday reported a surprising...
4                          [C11, C22, CCAT]  If dining at Planet Hollywood made you feel li...

### Custom Dataset

In [ ]:
train_size = 0.8
train_dataset = train_df.sample(frac=train_size,random_state=200)
valid_dataset = train_df.drop(train_dataset.index).reset_index(drop=True)
train_dataset = train_dataset.reset_index(drop=True)
test_dataset  = test_df.reset_index(drop=True)

print("TRAIN Dataset: {}".format(train_dataset.shape))
print("VAL Dataset: {}".format(valid_dataset.shape))
print("TEST Dataset: {}".format(test_dataset.shape))

TRAIN Dataset: (18519, 2)
VAL Dataset: (4630, 2)
TEST Dataset: (781265, 2)

In [ ]:
#run only when you have pre val file
valid_dataset = valid_dataset.reset_index(drop=True)
train_dataset = train_dataset.reset_index(drop=True)
test_dataset  = test_df.reset_index(drop=True)

In [ ]:
all_labels=[]
for index, row in train_dataset.iterrows():
  for x in row['labels']:
    all_labels.append(x)

In [ ]:
for index, row in test_dataset.iterrows():
  for x in row['labels']:
    all_labels.append(x)

for index, row in valid_dataset.iterrows():
  for x in row['labels']:
    all_labels.append(x)

In [ ]:
print(len(set(all_labels)))

5661

In [ ]:
file2 = open('stw_labels.txt', 'r')
tax_labels=[]
for line in file2:
    x=line.split("\t")
    b=x[1][:-1]
    tax_labels.append(b)

In [ ]:
print(len(set(tax_labels)))

6217

In [ ]:
diff=list(set(all_labels).difference(tax_labels))

In [ ]:
diff.remove('10042-6')

In [ ]:
"\",\"".join(list(set(tax_labels).difference(all_labels)))

'197727","29942-3","71036","70493","190023","a","70429","70174","71025","73300","70031","26331-5","70265","26380-6","70819","70881","70258","71106","70095","19106-3","71092","73342","12717-2","71059","72186","72180","70151","70002","70904","71052","73332","70178","71075","70943","196876","73363","29874-1","70235","70012","70893","29980-2","70562","73345","70080","70936","b","175787","70101","72181","73365","29832-3","73373","197040","70825","72393","70902","71056","185787","71031","73358","70889","70880","70087","70039","70928","71014","70192","71102","70481","16964-0","70940","16974-4","70148","70254","71057","71078","73333","70058","70486","71098","175786","182540","70361","71061","197981","71104","73331","70140","70199","70969","70051","70504","194088","71030","70992","70561","29860-5","70169","70923","70238","26856-4","70931","189012","70082","70416","180720","70811","186754","70968","29979-1","70096","71089","73295","71074","71094","70245","71076","70014","70556","70471","72394","29711-1","71105","194089","71091","16968-6","70883","70135","71081","181994","70383","70892","70269","70187","73394","30022-0","73357","187370","30021-2","73380","70933","71103","70832","70259","71046","71119","16975-2","73303","71060","70463","72185","70310","73377","71073","29990-6","194454","70130","70990","16769-5","71116","71064","70829","71087","186755","14463-4","70184","70580","73302","196912","73104","70872","70141","71013","70853","71033","71024","70438","70300","71110","73390","71085","70816","29648-3","73301","70845","70485","180785","70987","70834","70905","71069","72182","70876","70234","16971-3","70076","70986","70355","p","70186","70372","70020","70817","w","70963","185840","71009","70144","71097","73336","71005","180788","70903","70091","70989","73352","196981","70572","70017","13077-0","71112","71034","71029","70256","73379","186753","70477","73382","73381","73375","70882","70582","73395","70212","73378","70026","73339","16956-6","70028","26844-4","70942","71084","71115","70938","70956","70037","73376","70154","71020","71101","71018","71086","73340","70373","29779-2","71003","70128","70961","180783","70036","71002","70013","70888","70052","73388","70341","71053","71038","70292","70814","70959","72184","70321","70424","70899","16946-2","71100","71058","71077","70939","70873","70929","70879","29826-5","70833","70875","70368","70557","29787-3","194780","70822","30065-3","70143","26501-6","70201","70871","70799","70573","70423","71083","73334","70160","183026","70932","70505","29976-0","70538","71065","73338","70403","70964","73337","70188","29823-4","70328","70539","71066","70418","70958","70549","73396","70342","73367","191500","26409-1","73347","73364","70109","29684-6","73346","70348","70046","70070","71080","70274","180784","70581","14962-0","71026","70965","71099","73391","70960","70818","70397","70901","70386","179318","16969-4","71055","70941","70358","71117","71039","70257","70183","71010","16962-4","29737-4","70134","180781","71008","29782-6","73341","19062-4","10752-3","180740","Root","70040","196997","70086","70060","70856","14980-5","71082","70506","71011","71070","30062-2","194915","70999","70852","70855","70828","194374","70306","70384","71019","70242","73383","73103","70209","180786","70038","70179","70947","70926","29854-0","73362","180988","71015","70844","70476","194661","71016","183027","70991","71006","71063","180787","70952","71045","70305","197953","73393","v","194331","29776-1","70851","70970","182563","70131","73384","70021","70465","189442","70270","73361","70011","70944","26707-0","70467","16973-6","29849-0","71113","29861-3","70007","71017","26679-0","73356","71035","70071","70651","73305","70498","182604","71093","180739","194398","71095","70346","194781","70860","70550","70891","70066","70241","29858-6","26379-5","29953-5","197189","73366","71079","29796-2","193280","71111","72183","73348","73344","71072","70057","n","73353","70406","14343-0","70041","70253","73359","70120","184936","70996","29827-3","71028","70307","70085","71051","70004","30058-0","71108","70056","70182","73354","71037","71042","183025","70003","70049","71096","71071","70900","70233","197518","180782","70278","70239","70897","26784-3","70839","187379","70957","70578","70455","70029","73351","70445","70575","70005","70459","71032","180780","g","70244","71007","70647","70227","70113","70055","70847","70327","70874","70823","70030","70843","26478-3","70180","189969","71043","71067","71044","70560","70415","70967","70175","197050","70198","73385","196934","71062","70865","70147","195096","70924","71050","71068","70301","70142","194843","26643-0","71109","70176","194062'

In [ ]:
count=0
for index, row in train_dataset.iterrows():
  for x in diff:
    if x in row['labels']:
      count+=1
print(count)

39

In [ ]:
train_dataset.head()

                                              labels                                               text
0  [Top/Features, Top/Features/Arts, Top/Features...  women 's bodies afloat stream patterns nancy m...
1  [Top/News, Top/News/Business, Top/Features, To...  lead japanese newspaper reported nippon life i...
2  [Top/News, Top/News/New York and Region, Top/N...  article last wednesday dispute donald j trump ...
3  [Top/Classifieds, Top/Classifieds/Paid Death N...                              dwyer w remember love
4  [Top/News, Top/News/Sports, Top/Features, Top/...  gave another indication today westchester coun...

In [ ]:
import nltk
import json
from nltk.corpus import stopwords
nltk.download('stopwords')
stopwords_eng = stopwords.words('english')

def preprocess_text(text):
    pp_text = nltk.re.sub("[^a-zA-Z]", " ", text)  # remove remaining special characters
    pp_text = pp_text.lower()
    words = pp_text.split()
    words = [word for word in words if not word in stopwords_eng]  # remove stop words
    return words

file1=open("/content/rcv1-train.json",'r+')
#file_data = json.load(file1)
# Join new_data with file_data inside emp_details
#file_data.append(new_data)

train_dict={}
for index, row in train_dataset.iterrows():
    train_dict["label"]=row['labels']
    text=preprocess_text(row['text'])
    train_dict["token"]=text
    #print(train_dict)
    file1.write(json.dumps(train_dict)+'\n')
    #file_data.append(train_dict)
file1.close()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
file1=open("/content/rcv1-test.json",'r+')
#file_data = json.load(file1)
# Join new_data with file_data inside emp_details
#file_data.append(new_data)

train_dict={}
for index, row in test_dataset.iterrows():
    train_dict["label"]=row['labels']
    text=preprocess_text(row['text'])
    train_dict["token"]=text
    #print(train_dict)
    file1.write(json.dumps(train_dict)+'\n')
    #file_data.append(train_dict)
file1.close()

In [ ]:
file1=open("/content/rcv1-val.json",'r+')
#file_data = json.load(file1)
# Join new_data with file_data inside emp_details
#file_data.append(new_data)

train_dict={}
for index, row in valid_dataset.iterrows():
    train_dict["label"]=row['labels']
    text=preprocess_text(row['text'])
    train_dict["token"]=text
    #print(train_dict)
    file1.write(json.dumps(train_dict)+'\n')
    #file_data.append(train_dict)
file1.close()

##END